<form *ngIf="!passwordReset" [formGroup]="resetForm">
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input formControlName="email" type="email" inputmode="email" placeholder="email address" [class.invalid]="!resetForm.controls['email'].valid &&
            resetForm.controls['email'].touched">
    </ion-input>
  </ion-item>
  <ion-item class="error-message" *ngIf="!resetForm.controls['email'].valid &&
             resetForm.controls['email'].touched">
    <ion-label>Please enter a valid email address</ion-label>
  </ion-item>

  <ion-button (click)="resetPassword(resetForm.value.email)" expand="block" [disabled]="!resetForm.valid">
    Reset Password
  </ion-button>
</form>

<ion-text *ngIf="passwordReset && resetSuccess">An email has been sent to you with instructions</ion-text>

<ion-text *ngIf="passwordReset && !resetSuccess" color="danger">There was an error sending the password reset email</ion-text>