<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/contact-list']">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToUserDetail()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" (click)="toggleQrCode()">Create Code</ion-button>
  <ion-button expand="block" (click)="scanCode()">Scan Code</ion-button>
  <qrcode *ngIf="qrCodeToggle" [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
</ion-content>